@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body{
    margin: 0;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
}
a{
    text-decoration: none;
    user-select: none;
}
span{
    user-select: none;
}
.main{
    display: flex;
    height: 100%;
}
.left{
    flex: 20;
    background: rgb(30,30,30);
}
.right{
    flex: 60;
    background: rgb(0,0,0);
    padding-left: 20px;
    padding-top: 20px;
}
.menu{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
hr{
    width: 50%;
    text-align: center;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(88,88,88);
}

.blue{
    color: rgb(59,116,187);
}
.gold{
    color: rgb(204,185,113);
}
.pink{
    color: rgb(237,127,178);
}
.green{
    color: rgb(57,173,163);
}
.ac:hover{
    color: white;
}
.gray{
    color: rgb(88,88,88);
}
.m{
    margin-left: 20px;
}
.heading{
    font-size: 48px;
}